body {
  margin: 0;
  padding: 0;
}

#container {
  background-color: darkslategray;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container > * {
  color: beige;
  font-size: xx-large;
}
